<%#---------------- メイン画像表示 ------------------%>
<div class="jumbotron" style="background:url(/IMG_0003.JPG); background-size:cover;">
  <div class="container-fluid">
    <h1 style="color: #ffffff;">やまぐちの行きたいねを見つけよう!!</h1>
    <%# <p class="text-white">サブタイトル</p> %>
    <%#---------------- 検索フォーム追加 -----------------%>
    <div class="search-form mt-4 text-center">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索", class: 'btn btn-warning' %>
      <% end %>
    </div>
  </div>
</div>

<%#---------------- カテゴリー別タブ表示 --------------%>
<div class="col-sm-12">
  <ul class="nav nav-tabs nav-justified mb-3 nav-pills">
    <li class="nav-item">
      <a href="<%= 'posts' %>" class="nav-link <%= 'active' if current_page?('posts') %>" data-toggle="tab"><%= '見る／遊ぶ' %></a>
    </li>
    <li class="nav-item">
      <a href="<%=posts_eat_path(@posts) %>" class="nav-link <%#= 'active' if current_page?(posts_eat_path(@posts))) %>" data-toggle="tab"><%= '食べる' %></a>
    </li>
    <li class="nav-item">
      <a href="<%=posts_stay_path(@posts) %>" class="nav-link <%#= 'active' if current_page?(posts_stay_path(@posts)) %>" data-toggle="tab"><%= '泊まる' %></a>
    </li>
  </ul>
</div>
<%#---------------- 投稿記事一覧表示 ------------------%>
<div class="tab-content">
  <div id="category_0" class="tab-pane active" >
    <% if Post.where(category: "0").any? %>
      <%#= render 'posts', category: category %>
      <% @category = "0" %>
      <%= render 'posts', category: @posts %>
    <% end %>
  </div>
</div>