<%# ãƒ­ã‚°ã‚¤ãƒ³ã—ã¦ã„ãªãã¦ã‚‚æŠ•ç¨¿ä¸€è¦§è¡¨ç¤ºå¯ %>
<% if posts.any? %>
  <ul class="list-unstyled">
    <% Post.where(category: category[0]).each do |post| %>
      <li class="media mb-3">
        <div class="media-body">
          <div>
            <%= link_to post.title, post_path(post) %> <span class="text-muted"><%= post.area %><%= post.created_at %><%= 'ðŸ’›è¡ŒããŸã„ã­' %><%= 'ä»¶' %></span>
          </div>
        <%#-----ç”»åƒã‚’å…¥ã‚Œã‚‹ -----%>
          <% if post.image? %>
            <%= image_tag post.image.url, width: "250px" %>
          <% end %>
          <%#= post.user %>      
          <div><%= post.subtitle %></div>
          <div><%= post.content %></div>
        </div>
        <%# ----------æŠ•ç¨¿è€…ã‹ã¤ãƒ­ã‚°ã‚¤ãƒ³ã—ã¦ã„ã‚Œã°å‰Šé™¤ã§ãã‚‹ã‚ˆã†ã«ã™ã‚‹ ------------%>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
    <%#= paginate posts %>
  </ul>
<% end %>