<%#---------------- メイン画像表示 ------------------%>
<div class="jumbotron" style="background:url(/IMG_0003.JPG); background-size:cover;">
  <div class="container-fluid">
    <h1 style="color: #ffffff;">やまぐちの行きたいねを見つけよう!!</h1>
    <%# <p class="text-white">サブタイトル</p> %>
    <%#---------------- 検索フォーム追加 -----------------%>
    <div class="search-form mt-4 text-center">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索", class: 'btn btn-warning' %>
      <% end %>
    </div>
  </div>
</div>
<%#---------------- カテゴリー別タブ表示 --------------%>
<div class="col-sm-12">
  <ul class="nav nav-tabs nav-justified mb-3 nav-pills">
    <% @categories.each do |category| %>
      <li class="nav-item">
        <% if category[0] == 0 %>
          <a href="#category_<%= category[0]%>" class="nav-link active" data-toggle="tab"><%= category[1] %></a>
        <% else %>
          <a href="#category_<%= category[0]%>" class="nav-link" data-toggle="tab"><%= category[1] %></a>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<%#---------------- 投稿記事一覧表示 ------------------%>
<div class="tab-content">
  <% @categories.each do |category| %>
    <% if category[0] == 0 %>
      <div id="category_<%= category[0]%>" class="tab-pane active" >
        <% if @posts.where(category: category).any? %>
          <%= render 'search_posts', category: category %>
        <% end %>
      </div>
    <% else %>
      <div id="category_<%= category[0]%>" class="tab-pane" >
        <% if @posts.where(category: category).any? %>
          <%= render 'search_posts', category: category %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>