<div class="container">
  <div class="row">
    <div class="col-md-6">

      <p><%= @post.title %></p>

      <% if @post.image? %>
        <%= image_tag @post.image.url,  size: '480x320' %>
      <% end %>

      <P>
        <span class="badge badge-warning">ТіЋуе┐УђЁ</span><%= @post.user.name %> 
        <span class="badge badge-warning">№й┤№Йў№й▒</span><%= @post.area %> 
        <span class="badge badge-warning">ТіЋуе┐ТЌЦ</span><%= @post.created_at %>
      </P>
сђђсђђ
      <p><span class="badge badge-warning">сЃЮсѓцсЃ│сЃѕ</span><%= @post.subtitle %></p>
    </div>
    
    <div class="col-md-6">
      <div class="col-md-6">­ЪњЏУАїсЂЇсЂЪсЂёсЂГсђђС╗Х
      
        <% if logged_in? %>
          <% if current_user == @post.user %>
            <%= link_to 'уиежЏє', edit_post_path(@post) %>
            <%= link_to 'тЅіжЎц', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% end %>
      </div>
      <span class="badge badge-success">ТіЋуе┐тєЁт«╣</span>
      <p><%= @post.content %></p>
    </div>
  </div>
</div>