<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-warning">
    <a class="navbar-brand" href="/">Ikitaine</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item"><%= link_to 'æ–°è¦æŠ•ç¨¿', new_post_path, class: 'nav-link' %>
          <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name %>ãƒžã‚¤ãƒšãƒ¼ã‚¸</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'æŠ•ç¨¿è¨˜äº‹ä¸€è¦§', user_path(current_user) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ðŸ’›è¡ŒããŸã„ã­', ikitais_user_path(current_user) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to 'ãƒ¦ãƒ¼ã‚¶ç™»éŒ²', signup_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>